*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    margin-top: 10%;
}
#string{
    display: flex;
    align-items: center;
    justify-content: center;
}